sfdc/src_old/flows/Assign_New_User_Badge_APEX-10.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>BadgeAssignHelper</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Check &amp; Assign Sales</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>BadgeAssignHelper</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>UBstoCreate</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>UBstoCreate</name>
            <value>
                <elementReference>formula_2_myRule_1_A1_6926536853</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>Insert User Badges</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_4_A1</name>
        <label>Check &amp; Assign Marketing</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <actionName>BadgeAssignHelper</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>UBstoCreate</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>UBstoCreate</name>
            <value>
                <elementReference>formula_5_myRule_4_A1_0453782540</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Role = Sales</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision3</name>
        <label>myDecision3</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>Role = Marketing</label>
        </rules>
    </decisions>
    <description>Based on the users role assign the correct badge</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[User].Id &amp; &quot;-a000b00001F1dnAAAR&quot; &amp; &quot;-&quot; &amp; TEXT(ADDMONTHS(NOW(),1)) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_6926536853</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.Id} &amp; &quot;-a000b00001F1dnAAAR&quot; &amp; &quot;-&quot; &amp; TEXT(ADDMONTHS(NOW(),1))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[User].Id &amp; &quot;-a000b00001F1dn3AAB&quot; &amp; &quot;-&quot; &amp; TEXT(ADDMONTHS(NOW(),1)) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_4_A1_0453782540</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.Id} &amp; &quot;-a000b00001F1dn3AAB&quot; &amp; &quot;-&quot; &amp; TEXT(ADDMONTHS(NOW(),1))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK($UserRole.Id ))
&amp;&amp;
((ISNEW()  || (PRIORVALUE([User].UserRole.Name) &lt;&gt; [User].UserRole.Name))
&amp;&amp; 
BEGINS([User].UserRole.Name, &quot;Sales&quot;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!$UserRole.Id} ))
&amp;&amp;
((ISNEW()  || (PRIORVALUE({!myVariable_current.UserRole.Name}) &lt;&gt; {!myVariable_current.UserRole.Name}))
&amp;&amp; 
BEGINS({!myVariable_current.UserRole.Name}, &quot;Sales&quot;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK($UserRole.Id ))
&amp;&amp;
((ISNEW()  || (PRIORVALUE([User].UserRole.Name) &lt;&gt; [User].UserRole.Name))
&amp;&amp; 
BEGINS([User].UserRole.Name, &quot;Marketing&quot;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_4</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!$UserRole.Id} ))
&amp;&amp;
((ISNEW()  || (PRIORVALUE({!myVariable_current.UserRole.Name}) &lt;&gt; {!myVariable_current.UserRole.Name}))
&amp;&amp; 
BEGINS({!myVariable_current.UserRole.Name}, &quot;Marketing&quot;))</expression>
    </formulas>
    <interviewLabel>Assign_New_User_Badge_APEX-10_InterviewLabel</interviewLabel>
    <label>Assign User Role Badge</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>User</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
