sfdc/src_old/flows/TH_LoginFlow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>badgesSize</name>
        <label>badgesSize</label>
        <locationX>872</locationX>
        <locationY>111</locationY>
        <assignmentItems>
            <assignToReference>badgeSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Badges</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HasBadges</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>mixesSize</name>
        <label>mixesSize</label>
        <locationX>359</locationX>
        <locationY>23</locationY>
        <assignmentItems>
            <assignToReference>mixSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Mixes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>hasMixes</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Zero</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>HasBadges</name>
        <label>HasBadges</label>
        <locationX>1034</locationX>
        <locationY>109</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_B</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>badgeSize</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>You_Got_Learning</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>hasMixes</name>
        <label>hasMixes</label>
        <locationX>517</locationX>
        <locationY>24</locationY>
        <defaultConnector>
            <targetReference>GetBadges</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>mixSize</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>You_Got_Learning</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>TH_LoginFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TH_LoginFlow</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetBadges</name>
        <label>GetBadges</label>
        <locationX>704</locationX>
        <locationY>111</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>badgesSize</targetReference>
        </connector>
        <filters>
            <field>trailheadapp__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>trailheadapp__User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <object>trailheadapp__User_Badge__c</object>
        <outputReference>Badges</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetMixes</name>
        <label>GetMixes</label>
        <locationX>200</locationX>
        <locationY>23</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>mixesSize</targetReference>
        </connector>
        <filters>
            <field>trailheadapp__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>trailheadapp__User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <object>trailheadapp__User_Trailmix__c</object>
        <outputReference>Mixes</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>User</name>
        <label>User</label>
        <locationX>42</locationX>
        <locationY>23</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetMixes</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>UserObject</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
    </recordLookups>
    <screens>
        <name>You_Got_Learning</name>
        <label>You Got Learning!</label>
        <locationX>551</locationX>
        <locationY>275</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Hello</name>
            <fieldText>Howdy Trailblazer!  Before you continue into Salesforce maybe you should check out some of these learnings you have been assigned.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TrailheadLC</name>
            <extensionName>c:myT_AssignedTrailsAndBadges</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>badgesOrTrailmixes</name>
                <value>
                    <stringValue>Both</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>paginationSize</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>upcomingEventWindow</name>
                <value>
                    <numberValue>7.0</numberValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>BadgesorTrails</assignToReference>
                <name>badgesOrTrailmixes</name>
            </outputParameters>
        </fields>
        <fields>
            <name>part2</name>
            <fieldText>Click on the links above to open a them in a new browser tab.  Click Finish to continue into Salesforce.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>User</startElementReference>
    <variables>
        <name>Badges</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>trailheadapp__User_Badge__c</objectType>
    </variables>
    <variables>
        <name>badgeSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>BadgesorTrails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Mixes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>trailheadapp__User_Trailmix__c</objectType>
    </variables>
    <variables>
        <name>mixSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UserObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
